body {
  background-color: rgb(105,105,105);
  display: block;
  margin: 0;
  margin-top: 0;
  font-family: "Verdana";
}

* {
  box-sizing: border-box;
}

/* NAV BAR CSS */


.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-size: 1vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-bottom: 2px solid #ddd;
}

.topnav a.active {
  border-bottom: 2px solid white;
}

.topnav a.active:hover {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

/* ABOUT BOX CSS */

.about-content {
  text-align: center;
  overflow-x: hidden;
}

th {
  text-align: right;
}

img {
  z-index: 1;
  position: relative;
  opacity: 0.85;
  width: 60%;
  border-radius: 10px;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.about-block {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100vh;
}

#about-block-1 {
  padding-top: 20vh;
  font-size: 3vh;
  background-color: rgb(100,100,100);
  width: 100%;
}
#about-block-1 > h1 {
  font-size: 5vh;
}
#about-block-1 > p {
  line-height: 1.5;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#about-block-img {
  width: 100%;
  background-color: rgb(105,105,105);
}
#about-block-img {
  padding-bottom: 5vh;
}
#about-imgs {
  z-index: 10;
}

#about-block-2 {
  background-color: rgb(100,100,100);
  width: 100%;
  border-top: 10vh solid #333;
  border-bottom: 10vh solid #333;
}
#about-block-2 > table {
  font-size: 1.3em;
  z-index: 1;
}
#about-block-2 > h1 {
  padding-top: 20vh;
}


#about-block-3 {
  width: 100vw;
  padding-bottom: 10vh;
}

#about-block-3 > h1 {
  padding-top: 25vh;
}

.fa2 {
  padding: 25px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 50%;
}



/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(.active) {display: none;}
  .topnav a.active {background-color: #333;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.icon.active {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a.icon:hover {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a {
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }
  .topnav a.active {
    border: none;
    font-weight: bold;
  }
  .topnave a:hover {
    border-left: 2px solid white;
  }
  .topnav.responsive {position: fixed; width: 100%;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .about-block {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    font-size: 14px;
    width: 100%;

  }

  #about-block-1 {
    padding-top: 40vw;
    font-size: 1em;
  }
  #about-block-1 > h1 {
    font-size: 2em;
  }
  #about-block-1 > p {
    line-height: 1.2;
    width: 100%;
    padding-top: 2vh;
  }

  #about-block-img {
    display: none;
    background-color: rgb(105,105,105);
  }


  #about-block-2 {
    padding-top: 40vw;
  }

  #about-block-3 {
    padding-top: 40vw;
    background-color: rgb(105,105,105);
  }

}

/* Tablet Devices (Portait and Landscape) */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .topnav a {
      font-size: 3vw;
      padding: 3vw 3.5vw;
    }

    .about-block {
      padding-left: 10vw;
      padding-right: 10vw;
      padding-bottom: 5vw;
      width: 100%;

    }

    #about-block-1 {
      padding-top: 25vw;
      font-size: 1em;
    }
    #about-block-1 > h1 {
      font-size: 4vh;
    }
    #about-block-1 > p {
      line-height: 1.2;
      width: 100%;
      padding-top: 2vh;
      font-size: 2.5vh;
    }

    #about-block-img {
      display: none;
      background-color: rgb(105,105,105);
    }


    #about-block-2 {
      padding-top: 40vw;
      font-size: 2vh;
    }

    #about-block-3 {
      padding-top: 40vw;
      background-color: rgb(105,105,105);
      font-size: 2.5vh;
    }
}
