body {
  background-color: rgb(150, 155, 156);
  display: block;
  margin: 0;
  margin-top: 0;
  font-family: "Raleway";
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1vh;
}
#a-right {
  float: right;
}
#a-right:hover {
  background-color: inherit;
  color: white;
  cursor: default;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-size: 1.25vw;
  margin-right: 0.5vw;
  transition: all 0.25s ease-in-out;
}
.topnav a:hover,
.dropdown:hover .drop-btn {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.topnav a.active {
  border-bottom: 2px solid white;
}

.topnav a.active:hover {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a.mobile-number {
  display: none;
}
.topnav a.desktop-number {
  float: right;
}
.topnav a.desktop-number:hover {
  background-color: #333;
  color: white;
  cursor: default;
}

/* dropdown nav code */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .drop-btn {
  font-size: 1.25vw;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 1vw 1.5vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  padding: 1vw 1.5vw;
  display: block;
  text-align: left;
  margin: 0;
  font-size: 1vw;
}

.dropdown-content a:hover {
  background-color: purple;
  color: white;
}

.dropdown:hover .dropdown-content {
  background-color: #eee;
  display: block;
  z-index: 100;
}
/* ABOUT BOX CSS */

.about-content {
  text-align: center;
  overflow-x: hidden;
}

th {
  text-align: right;
}

.about-block {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100vh;
  overflow: hidden;
}

#about-block-1 {
  padding-top: 10vh;
  font-size: 3.5vh;
  width: 100%;
}
#about-block-1::after {
  content: "";
  background: url("../../images/backgrounds/aboutbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.about-2-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.about-2-gallery li {
  height: 25vh;
  flex-grow: 1;
  padding: 0.5vw;
}

.about-2-gallery img,
.about-2-gallery video {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  opacity: 0.75;
  transition: all 0.5s ease;
}

.about-2-gallery img:hover,
.about-2-gallery video:hover {
  cursor: pointer;
  opacity: 1;
}

/* image gallery modal css */
.modal-2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
.close {
  color: white;
  position: absolute;
  top: 14%;
  right: 20%;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
  border: 2px solid transparent;
  padding: 1vw;
  transition: 0.5s ease;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  font-size: 40px;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  transition: all 0.5s ease-in-out;
}

.mySlides img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5vw;
  display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
  -webkit-user-select: none;
  padding: 2vw;
}
/* Position the "next button" to the right */
.next {
  right: 15vw;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 15vw;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* --------------------------------------------------------- */

#about-block-1 > h1 {
  font-size: 5vh;
}
#about-block-1 > p {
  line-height: 1.5;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#about-block-img {
  padding-bottom: 5vh;
  width: 100%;
  height: fit-content;
}
#about-imgs {
  z-index: 10;
}

#about-block-2 {
  width: 100%;
  font-size: 2.5vh;
  background: url("../../images/backgrounds/aboutbg2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#about-block-2 table {
  font-size: 1.3em;
  z-index: 1;
}
.tablecont {
  border-radius: 1vh;
  background-color: rgba(178, 174, 168, 0.8);
  width: max-content;
  margin: auto;
  margin-top: 20vh;
  padding: 2vh;
}

.about3text {
  grid-area: txt;
  padding: 20vh 0 0 5vw;
}
.about3email {
  grid-area: email;
  padding: 25vh 5vw 0 5vw;
}
#about-block-3 {
  width: 100vw;
  font-size: 3vh;
  height: 100vh;

  display: grid;
  grid-template-areas: "txt email";
  grid-template-columns: 1fr 1.5fr;
}

#about-block-3 > h1 {
  padding-top: 15vh;
}
#about-block-3 > p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.mobile-number {
  font-size: 2vw;
  font-style: italic;
  margin-top: 0.1vh;
  margin-bottom: 0.1vh;
}

.fa2 {
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin-left: 2.5vw;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.fa-instagram {
  margin-left: 0;
  border: none;
}

.contactforms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* MODAL CODE */
.modal {
  width: 100%;
  height: 100%;
  overflow: auto;
  /* pointer-events: none; */
  transition: all 0.25s ease;
}

.modalContent {
  display: grid;
  background-color: #636363;
  padding: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  grid-template-rows: 1fr 1fr 1fr 1fr 0.1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name message"
    "email message"
    "subject message"
    "errorMsg send";

  overflow-y: hidden;
  height: 50vh;
}

.modalBox1 {
  grid-area: para;
  width: 100%;
}
.modalBox1 p {
  margin: 0;
}

.modalBox2 {
  grid-area: name;
}
.modalBox3 {
  grid-area: email;
}
.modalBox4 {
  grid-area: subject;
}
.modalBox5 {
  grid-area: message;
}
.modalBox6 {
  grid-area: send;
  display: inline-flex;
  padding-left: 10vh;
  justify-content: flex-end;
}
.g-recaptcha {
  padding-right: 10%;
}

.modalBox7 {
  grid-area: errorMsg;
}
#errorMsg {
  padding: 1vw;
  margin: 0;
}

.emailModalInput input {
  vertical-align: middle;
  font-size: 1.5vw;
  background-color: rgb(192, 191, 191);
  border: 2px solid rgb(192, 191, 191);
}

.modalBox2 input,
.modalBox3 input,
.modalBox4 input {
  padding: 0.7vw;
}

.modalBox5 {
  grid-row-start: 2;
  grid-row: span 3;
  padding-left: 5vw;
}
.modalBox5 textarea {
  height: 90%;
  width: 100%;
  font-size: 1.5vw;
  background-color: rgb(192, 191, 191);
  border: 2px solid rgb(192, 191, 191);
  resize: none;
  font-family: "Raleway";
  padding: 0.7vw;
}

textarea:focus,
input:focus {
  outline: none;
}

.modalBox6 input {
  border: none;
  color: black;
  background-color: gray;
  padding: 1vw;
  width: 9vw;
  font-size: 20px;
  border-radius: 3px;
}
.modalBox6 input:hover {
  cursor: pointer;
  background-color: rgb(192, 191, 191);
}

/* ---------------------------------------------------------------------- */
/* Mobile Devices (Portait) --------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media screen and (max-width: 600px) and (orientation: portrait) {
  .topnav a:not(.active) {
    display: none;
  }
  #a-right {
    float: left;
  }
  .topnav a.desktop-number {
    display: none !important;
  }
  .topnav a.active {
    background-color: #333;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.icon.active {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a.icon:hover {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a {
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }
  .topnav a.active {
    border: none;
    font-weight: bold;
  }
  .topnave a:hover {
    border-left: 2px solid white;
  }
  .topnav.responsive {
    position: fixed;
    width: 100%;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav .dropdown {
    display: none;
  }

  .topnav.responsive .dropdown {
    float: none;
    display: block;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .drop-btn {
    display: block;
    text-align: left;
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }

  .about-block {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    width: 100%;
  }

  #about-block-1 {
    font-size: 2.3vh;
    font-weight: 500;
    padding-top: 15vh;
  }
  #about-block-1 > h1 {
    font-size: 4vh;
  }
  #about-block-1 > p {
    line-height: 1.2;
    width: 100%;
    padding-top: 0.5vh;
  }

  /* #about-block-img{
    display: none;
  } */

  #about-block-img img,
  .about-2-gallery li {
    max-height: 90%;
    min-width: 50%;
  }
  .about-2-gallery li {
    height: 15vh;
  }
  .about-2-gallery img {
    flex-wrap: wrap;
  }
  .about-2-gallery {
    margin: 0;
    height: auto;
  }
  #about-block-img {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  /* IMAGE FULLSCREEN MODAL */
  .mySlides img {
    padding-top: 27vh;
    width: 90%;
  }
  .prev,
  .next {
    top: 46vh;
    height: 8vh;
    width: 15vw;
  }
  .prev {
    left: 6vw;
  }
  .next {
    right: 6vw;
  }
  .close {
    top: 30vh;
    right: 6vw;
  }

  #about-block-2 > table {
    font-size: 2.5vh;
  }
  #about-block-2 > h1 {
    font-size: 4vh;
  }

  #about-block-3 {
    padding: 0;
  }
  #about-block-3 h1 {
    padding-top: 5vh;
    font-size: 4vh;
  }

  #about-block-3 p {
    font-size: 2.25vh;
  }
  .contactforms {
    grid-template-columns: 2fr 1fr;
  }

  #about-block-3 {
    grid-template-areas: "txt" "email";
    grid-template-columns: 1fr;
    width: 100%;
    height: 150vh;
  }
  .about3text {
    padding: 0 10vw 0 10vw;
    width: 100%;
    text-align: center;
  }

  /* MOBILE MODAL CODE */
  .modalContent {
    text-align: center;
    overflow-y: auto;
    height: 80vh;
    width: 90vw;
    grid-template-columns: max-content;
    grid-template-rows: 0fr 0.5fr 0.5fr 0.5fr 2fr 1fr 0.3fr;
    grid-template-areas:
      "para"
      "name"
      "email"
      "subject"
      "message"
      "send"
      "errorMsg";
  }
  .modalContent div {
    width: 68vw;
    margin-bottom: 2px;
  }
  .modalContent input,
  .modalContent textarea {
    width: 77vw;
    font-size: 2.5vh;
    padding: 1vh;
  }

  .modalBox5 {
    padding: 0%;
    grid-row-start: auto;
  }
  .modalBox6 {
    padding: 0%;
    display: block;
    text-align: center;
  }
  .modalBox6 input {
    padding: 2vh;
    font-size: 25px;
  }
  .g-recaptcha {
    transform: scale(0.83);
    transform-origin: 0 0;
    margin-left: 4vw;
  }
  .modalBox1 p {
    display: none;
  }
  .modalBox1 h3 {
    font-size: 2.5vh;
  }
}

/* ---------------------------------------------------------------------- */
/* Mobile Devices (Landscape) ------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media screen and (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* Navigation Bar */
  .topnav a,
  .dropdown .drop-btn {
    font-size: 3vw;
    padding: 2vw 2.5vw;
  }
  .topnav a.desktop-number {
    display: none;
  }
  .topnav a.mobile-number {
    float: right;
    display: block;
  }

  /* About Content 1 */
  #about-block-1 {
    height: 150vh;
  }
  #about-block-1 p {
    font-size: 6vh;
    width: 90%;
  }
  #about-block-1 h1 {
    font-size: 8vh;
  }

  #about-block-img {
    display: none;
    background-color: rgb(105, 105, 105);
  }

  /* About Content Gallery */
  /* #about-block-img img {
    max-height: 95%;
    min-width: 70%;
  }
  .mySlides img {
    margin-top: 12vw;
  }
  .prev,
  .next {
    top: 40%;
  }
  .close {
    top: 18%;
  } */

  /* About Content 2 */
  #about-block-2 {
    height: 150vh;
  }
  #about-block-2 h1 {
    font-size: 8vh;
    margin-top: 1vh;
    padding-top: 5vh;
  }
  #about-block-2 p {
    font-size: 6vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #about-block-2 table {
    font-size: 6vh;
  }

  /* About Content 3 */
  #about-block-3 {
    grid-template-areas: "txt" "email";
    height: 200vh;
  }
  #about-block-3 h1 {
    font-size: 8vh;
  }
  #about-block-3 p {
    font-size: 6vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-number {
    font-size: 6vh !important;
  }
  .about3text {
    padding: 0;
  }
  .modalContent {
    text-align: center;
    height: 80vh;
    width: 90vw;
    /* grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1fr 0.5fr;
    grid-template-areas:
      "name"
      "email"
      "subject"
      "message"
      "send"
      "errorMsg"; */
    grid-template-rows: 10fr 10fr 10fr 5fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name message"
      "email message"
      "subject message"
      "errorMsg send";

    overflow-y: hidden;
  }
  .modalBox1 {
    display: none;
  }
  .emailModalInput input {
    width: 100%;
    font-size: 2vw;
    padding: 1vw;
  }
  #mailMessage {
    font-size: 2vw;
  }
}

/* ---------------------------------------------------------------------- */
/* Tablet Devices (Portait) --------------------------------------------- */
/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .topnav a {
    font-size: 3vw;
    padding: 2vw 2.5vw;
  }
  .dropdown .drop-btn {
    font-size: 3vw;
    padding: 2vw 2.5vw;
  }
  .topnav a.mobile-number {
    display: none;
  }
  .topnav a.desktop-number {
    float: right;
  }

  .about-block {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    width: 100%;
  }

  #about-block-1 {
    padding-top: 10vh;
  }

  #about-block-1 > h1 {
    font-size: 4vh;
  }
  #about-block-1 > p {
    line-height: 1.2;
    width: 100%;
    padding-top: 2vh;
    font-size: 3vh;
  }

  /* gallery */
  #about-block-img h1 {
    font-size: 6vw;
  }
  .about-2-gallery {
    flex-wrap: wrap;
    width: 100%;
    margin: 5vh 0 0 0;
    padding: 0;
  }
  .about-2-gallery li {
    height: 15vh;
  }
  .about-2-gallery img,
  .about-2-gallery video {
    opacity: 1;
  }

  .mySlides img {
    margin-top: 30vh;
    width: 90%;
  }
  .close {
    top: 30%;
    right: 8%;
    font-size: 50px;
  }
  .prev,
  .next {
    top: 25%;
  }
  .next {
    right: 5vw;
  }
  .prev {
    left: 5vw;
  }

  #about-block-2 {
    font-size: 2vh;
  }
  #about-block-2 h1 {
    font-size: 4vh;
  }
  #about-block-2 table {
    font-size: 3vh;
  }

  #about-block-3 {
    font-size: 2.75vh;
  }

  #about-block-3 > h1 {
    padding-top: 10vh;
    font-size: 4vh;
  }
  .mobile-number {
    font-size: 6vw;
  }
  #about-block-3 > p {
    width: 80%;
  }
  .fa2 {
    margin-left: 10vw;
    border: none;
  }
  .fa-instagram {
    margin-left: 0;
  }

  #about-block-3 {
    grid-template-areas: "txt" "email";
    width: 100%;
    height: 150vh;
  }
  .about3text {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .about3email {
    padding: 5vh 0 0 0;
    width: 100%;
  }

  .modalContent {
    text-align: center;
    overflow-y: auto;
    height: 80vh;
    width: 80vw;
    grid-template-columns: max-content;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1fr 0.3fr;
    grid-template-areas:
      "name"
      "email"
      "subject"
      "message"
      "send"
      "errorMsg";
  }
  .modalContent div {
    width: 71vw;
  }
  .modalContent input {
    width: 100%;
    font-size: 2.5vh;
    padding: 1vh;
  }
  .modalBox5 {
    padding: 0%;
    grid-row-start: auto;
  }
  .modalBox6 {
    padding: 0%;
    display: block;
  }
  .modalBox6 input {
    padding: 2vh;
    margin-top: 10px;
    font-size: 25px;
  }
  .modalBox1 p {
    display: none;
  }
  .modalBox1 h3 {
    font-size: 2.5vh;
  }
  textarea {
    font-size: 2.5vh !important;
    font-family: "Raleway" !important;
  }
}

/* ---------------------------------------------------------------------- */
/* Tablet Devices (Landscape) ------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* fix modal display for landscape tablet */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .topnav a,
  .dropdown .drop-btn {
    font-size: 2vw;
    padding: 2vw 2.5vw;
  }
  .topnav a.mobile-number {
    display: none;
  }
  .topnav a.desktop-number {
    float: right;
  }
  #about-block-1 {
    height: 100vh;
  }
  #about-block-1 p {
    font-size: 2.5vw;
    width: 80%;
  }
  #about-block-img h1 {
    font-size: 4vw;
  }
  #about-block-img img {
    max-height: 100%;
    min-width: 100%;
  }

  #about-block-img {
    padding: 10vh;
    display: block;
  }
  .about-2-gallery {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about-2-gallery li {
    height: 20vh;
  }
  .about-2-gallery img,
  .about-2-gallery video {
    opacity: 1;
  }

  .mySlides img {
    margin-top: 19vw;
  }
  .prev,
  .next {
    top: 30%;
  }
  .close {
    top: 24%;
  }

  #about-block-2 {
    height: 100vh;
  }
  #about-block-2 h1 {
    padding-top: 4vh;
    font-size: 6vh;
  }
  #about-block-2 p {
    font-size: 2vw;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #about-block-2 table {
    font-size: 2.5vw;
  }
  #about-block-3 p {
    font-size: 2.5vw;
  }
  .mobile-number {
    font-size: 4vw !important;
  }

  /* modal code */
  .modalContent {
    height: 80vh;
    width: 50vw;
    text-align: center;
    overflow-y: auto;
    grid-template-columns: max-content;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 1fr 0.3fr;
    grid-template-areas:
      "name"
      "email"
      "subject"
      "message"
      "send"
      "errorMsg";
  }
  .modalContent div {
    width: 45vw;
  }
  .modalContent input {
    width: 100%;
    font-size: 2.5vh;
    padding: 1vh;
  }
  .modalBox5 {
    padding: 0%;
    grid-row-start: auto;
  }
  .modalBox6 {
    padding: 0%;
    display: block;
  }
  .modalBox6 input {
    padding: 2vh;
    margin-top: 10px;
    font-size: 25px;
  }
  .modalBox1 p {
    display: none;
  }
  .about3text {
    width: 40vw;
    padding: 2vh 0 0 5vw;
  }
  .about3email {
    width: 60vw;
    padding: 8vh 5vh 8vh 5vh;
  }
  textarea {
    font-size: 2.5vh !important;
    font-family: "Raleway" !important;
  }
  #about-block-3 {
    height: 90vh;
    grid-template-areas: "txt email";
  }
}
