/* TODO:
  - change position of gallery next and previous buttons to side, height 100%

*/

body {
  background-color: rgb(150, 155, 156);
  display: block;
  margin: 0;
  margin-top: 0;
  font-family: "Verdana";
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* NAV BAR CSS */
#a-right {
  float: right;
}
.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1vw;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-size: 1.5vw;
  margin-right: 0.5vw;
  transition: all 0.25s ease-in-out;
}

.topnav a:hover,
.dropdown:hover .drop-btn {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.topnav a.active {
  border-bottom: 2px solid white;
}

.topnav a.active:hover {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

/* dropdown nav code */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .drop-btn {
  font-size: 1.5vw;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 1vw 1.5vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  padding: 1vw 1.5vw;
  display: block;
  text-align: left;
  margin: 0;
  font-size: 1vw;
}

.dropdown-content a:hover {
  background-color: purple;
  color: white;
}

.dropdown:hover .dropdown-content {
  background-color: #eee;
  display: block;
  z-index: 100;
}

/* ABOUT BOX CSS */

.about-content {
  text-align: center;
  overflow-x: hidden;
}

th {
  text-align: right;
}

.about-block {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100vh;
}

#about-block-1 {
  padding-top: 20vh;
  font-size: 3vh;
  width: 100%;
  /* font-weight: bold; */
}

/* #about-block-2::after {
  content: "";
  background: url("../../images/stonewall.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}  */

/* Slideshow container */
.slideshow-container {
  height: auto;
  max-width: 60%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: block;
}

/* Previous and Next Buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#about-block-1 > h1 {
  font-size: 5vh;
}
#about-block-1 > p {
  line-height: 1.5;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#about-block-img {
  width: 100%;
}
#about-block-img {
  padding-bottom: 5vh;
}
#about-imgs {
  z-index: 10;
}

#about-block-2 {
  width: 100%;
  border-top: 10vh double #333;
  border-bottom: 10vh double #333;
  font-size: 2.5vh;
}
#about-block-2 > table {
  font-size: 1.3em;
  z-index: 1;
}
#about-block-2 > h1 {
  padding-top: 17.5vh;
}

#about-block-3 {
  width: 100vw;
  padding-bottom: 10vh;
  font-size: 3vh;
  height: 90vh;
}

#about-block-3 > h1 {
  padding-top: 15vh;
}
#about-block-3 > p {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.fa2 {
  padding: 25px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  margin-left: 2.5vw;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.fa2:hover {
  background-color: #333;
  color: white;
}

/* MODAL CODE */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  /* justify-items: center;
  align-items: center; */
  pointer-events: none;
  max-height: 0;
  transition: max-height 500ms;
  -webkit-transition: max-height 500ms;
  -o-transition: max-height 500ms;
}

.modal:target {
  max-height: 100%;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}

.modalContent {
  height: 60%;
  display: grid;
  background-color: #636363;
  margin: auto;
  padding: 3vh;
  border: 2px solid black;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  grid-template-rows: 2fr 1fr 1fr 1fr 0.1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "para para"
    "name message"
    "email message"
    "subject message"
    "errorMsg send";

  overflow-y: hidden;
}

.modalBox1 {
  grid-area: para;
  width: 100%;
}
.modalBox2 {
  grid-area: name;
}
.modalBox3 {
  grid-area: email;
}
.modalBox4 {
  grid-area: subject;
}
.modalBox5 {
  grid-area: message;
}
.modalBox6 {
  grid-area: send;
  display: inline-flex;
  padding-left: 10vh;
  justify-content: flex-end;
}
.g-recaptcha {
  padding-right: 10%;
}

.modalBox7 {
  grid-area: errorMsg;
}
#errorMsg {
  padding: 1vw;
  margin: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.emailModalInput input {
  vertical-align: middle;
  font-size: 20px;
  background-color: rgb(192, 191, 191);
  border: 2px solid rgb(192, 191, 191);
  width: 100%;
}

.modalBox2 input,
.modalBox3 input,
.modalBox4 input {
  padding: 10px;
}

.modalBox5 {
  grid-row-start: 2;
  grid-row: span 3;
  padding-left: 5vw;
}
.modalBox5 textarea {
  height: 87%;
  width: 100%;
  font-size: 20px;
  background-color: rgb(192, 191, 191);
  border: 2px solid rgb(192, 191, 191);
  resize: none;
  font-family: "Verdana";
  padding: 10px;
}

textarea:focus,
input:focus {
  outline: none;
}

.modalBox6 input {
  border: none;
  color: black;
  background-color: gray;
  padding: 1vw;
  width: 9vw;
  font-size: 20px;
  border-radius: 3px;
}
.modalBox6 input:hover {
  cursor: pointer;
  background-color: rgb(192, 191, 191);
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(.active) {
    display: none;
  }
  .a-right {
    float: left;
  }
  .topnav a.active {
    background-color: #333;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.icon.active {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a.icon:hover {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a {
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }
  .topnav a.active {
    border: none;
    font-weight: bold;
  }
  .topnave a:hover {
    border-left: 2px solid white;
  }
  .topnav.responsive {
    position: fixed;
    width: 100%;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .about-block {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    width: 100%;
  }

  #about-block-1 {
    font-size: 2.3vh;
    font-weight: 500;
    padding-top: 15vh;
  }
  #about-block-1 > h1 {
    font-size: 4vh;
  }
  #about-block-1 > p {
    line-height: 1.2;
    width: 100%;
    padding-top: 0.5vh;
  }

  #about-block-img {
    display: none;
    background-color: rgb(105, 105, 105);
  }

  #about-block-2 > table {
    font-size: 2.5vh;
  }
  #about-block-2 > h1 {
    font-size: 4vh;
  }

  #about-block-3 {
    padding: 0;
  }
  #about-block-3 h1 {
    padding-top: 15vh;
    font-size: 4vh;
  }

  #about-block-3 p {
    font-size: 2.25vh;
  }

  /* MOBILE MODAL CODE */
  .modalContent {
    text-align: center;
    overflow-y: auto;
    height: 80vh;
    width: 80vw;
    grid-template-columns: max-content;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 2fr 1fr;
    grid-template-areas:
      "para"
      "name"
      "email"
      "subject"
      "message"
      "send";
  }
  .modalContent div {
    width: 68vw;
    margin-bottom: 2px;
  }
  .modalContent input {
    width: 100%;
    font-size: 2.5vh;
  }
  .modalBox5 {
    padding: 0%;
    grid-row-start: auto;
  }
  .modalBox6 {
    padding: 0%;
    display: block;
  }
  .modalBox6 input {
    padding: 2vh;
    font-size: 25px;
  }
  .g-recaptcha {
    transform: scale(0.83);
    transform-origin: 0 0;
  }
  .modalBox1 p {
    display: none;
  }
  .modalBox1 h3 {
    font-size: 2.5vh;
  }
}

/* Tablet Devices (Portait and Landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
  .topnav a {
    font-size: 3vw;
    padding: 3vw 3.5vw;
  }

  .about-block {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
    width: 100%;
  }

  #about-block-1 {
    padding-top: 15vw;
  }

  #about-block-1 > h1 {
    font-size: 4vh;
    padding-top: 7vh;
  }
  #about-block-1 > p {
    line-height: 1.2;
    width: 100%;
    padding-top: 2vh;
    font-size: 2.75vh;
  }

  #about-block-img {
    display: none;
    background-color: rgb(105, 105, 105);
  }

  #about-block-2 {
    font-size: 2.75vh;
  }
  #about-block-2 > h1 {
    font-size: 4vh;
  }
  #about-block-2 > table {
    font-size: 3vh;
  }

  #about-block-3 {
    background-color: rgb(105, 105, 105);
    font-size: 2.75vh;
  }

  #about-block-3 > h1 {
    padding-top: 20vh;
    font-size: 4vh;
  }
  #about-block-3 > p {
    width: 80%;
  }
  .fa2 {
    padding: 60px;
  }

  /* MOBILE MODAL CODE */
  .modalContent {
    text-align: center;
    overflow-y: auto;
    height: 80vh;
    width: 80vw;
    grid-template-columns: max-content;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 2fr 1fr;
    grid-template-areas:
      "para"
      "name"
      "email"
      "subject"
      "message"
      "send";
  }
  .modalContent div {
    width: 72vw;
    margin-bottom: 2px;
  }
  .modalContent input {
    width: 100%;
    font-size: 2.5vh;
  }
  .modalBox5 {
    padding: 0%;
    grid-row-start: auto;
  }
  .modalBox6 {
    padding: 0%;
    display: block;
  }
  .modalBox6 input {
    padding: 2vh;
    margin-top: 10px;
    font-size: 25px;
  }
  .modalBox1 p {
    display: none;
  }
  .modalBox1 h3 {
    font-size: 2.5vh;
  }
}
