body {
  background-color: rgb(150, 155, 156);
  display: block;
  margin: 0;
  margin-top: 0;
  font-family: "Raleway";
}

* {
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1vh;
}
#a-right {
  float: right;
}
#a-right:hover {
  background-color: inherit;
  color: white;
  cursor: default;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-size: 1.25vw;
  margin-right: 0.5vw;
  transition: all 0.25s ease-in-out;
}
.topnav a:hover,
.dropdown:hover .drop-btn {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.topnav a.active {
  border-bottom: 2px solid white;
}

.topnav a.active:hover {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

/* dropdown nav code */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .drop-btn {
  font-size: 1.25vw;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 1vw 1.5vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  padding: 1vw 1.5vw;
  display: block;
  text-align: left;
  margin: 0;
  font-size: 1vw;
}

.dropdown-content a:hover {
  background-color: purple;
  color: white;
}

.dropdown:hover .dropdown-content {
  background-color: #eee;
  display: block;
  z-index: 100;
}

/* TOP VIEW CSS */

.topview {
  height: 95vh;
}

.topview::after {
  content: "";
  background: url("../../images/stonewall.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.topview img {
  padding-top: 26vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  height: auto;
}

/* FANCY ARROW CSS */

.downArrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upArrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(50%, 50%);
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
.arrow span:hover {
  cursor: pointer;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* MID VIEW CSS */

.midview {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.midview div {
  padding: 8vw 6vw 8vw 6vw;
  padding-bottom: 0;
}

.midview h1 {
  font-size: 3vw;
}

.midview p {
  font-size: 1.5vw;
}

#frame-container {
  padding-bottom: 50%;
  position: relative;
  display: block;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
}

#mobilePara {
  display: none;
}

/* Tablet Devices (Portait and Landscape) */
@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .topnav a {
    font-size: 3vw;
    padding: 3vw 3.5vw;
  }
  .midview {
    display: block;
    text-align: center;
    height: 200vh;
  }
  .midmap {
    height: 62vh;
  }

  .midtext {
    height: 100vh;
    border-bottom: 5px solid black;
  }

  .midtext h1 {
    padding-top: 8vh;
    padding-bottom: 2vh;
  }

  .midmap {
    height: 90vh;
    bottom: 0;
  }

  .midmap > * {
    padding-top: 8vh;
  }

  .midmap > h1 {
    padding-bottom: 4vh;
  }

  .midmap > p {
    padding-top: 1vh;
  }

  #frame-container {
    height: 60vh;
  }

  #span1 {
    display: none;
  }

  #mobilePara {
    display: inline;
  }
}

/* Mobile Devices (Portait) */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(.active) {
    display: none;
  }
  .a-right {
    float: left;
  }
  .topnav a.active {
    background-color: #333;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.icon.active {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a.icon:hover {
    background-color: #333;
    color: white;
    border: none;
  }
  .topnav a {
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }
  .topnav a.active {
    border: none;
    font-weight: bold;
  }
  .topnav a:hover {
    border-left: 2px solid white;
  }
  .topnav.responsive {
    position: fixed;
    width: 100%;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #a-right {
    float: left;
  }

  .topnav .dropdown {
    display: none;
  }

  .topnav.responsive .dropdown {
    float: none;
    display: block;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .drop-btn {
    display: block;
    text-align: left;
    font-size: 4vw;
    padding: 4vw 4.5vw;
  }

  .midview {
    display: block;
    text-align: center;
    font-size: 17px;
    height: 200vh;
  }

  .midview h1 {
    font-size: 2.5vh;
  }
  .midview p {
    font-size: 2vh;
  }

  .midtext {
    height: 100vh;
    border-bottom: 5px solid black;
  }

  .midtext h1 {
    padding-top: 8vh;
    padding-bottom: 2vh;
  }

  .midmap {
    height: 90vh;
    bottom: 0;
  }

  .midmap > * {
    padding-top: 8vh;
  }

  .midmap > h1 {
    padding-bottom: 4vh;
  }

  .midmap > p {
    padding-top: 1vh;
  }

  #span1 {
    display: none;
  }

  #mobilePara {
    display: inline;
  }

  .arrow span {
    width: 15px;
    height: 15px;
  }

  #frame-container {
    height: 50vh;
  }
}
