body {
  background-color: rgb(150, 155, 156);
  display: block;
  margin: 0;
  margin-top: 0;
  font-family: "Verdana";
}

* {
  box-sizing: border-box;
}

.topnav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1vw;
}
#a-right {
  float: right;
}
#a-right:hover {
  background-color: inherit;
  color: white;
  cursor: default;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
  font-size: 1.5vw;
  margin-right: 0.5vw;
  transition: all 0.25s ease-in-out;
}
.topnav a:hover,
.dropdown:hover .drop-btn {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}

.topnav a.active {
  border-bottom: 2px solid white;
}

.topnav a.active:hover {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

/* dropdown nav code */
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .drop-btn {
  font-size: 1.5vw;
  border: none;
  outline: none;
  color: white;
  padding: 1vw 1.5vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  padding: 1vw 1.5vw;
  display: block;
  text-align: left;
  margin: 0;
  font-size: 1vw;
}

.dropdown-content a:hover {
  background-color: purple;
  color: white;
}

.dropdown:hover .dropdown-content {
  background-color: #eee;
  display: block;
  z-index: 100;
}

/* MENU CODE */
.menubg {
  background-image: url("../../images/backgrounds/gourmet-background-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.menunav {
  grid-area: nav;
  justify-self: center;
  padding: 1vw;
  width: 100%;
}
.menucontent {
  grid-area: cont;
}
.menuinfo {
  grid-area: opt;
}

.menu {
  background-color: rgba(51, 51, 51, 0.8);
  margin: auto;
  position: relative;
  top: 16vh;
  width: 80vw;
  height: 75vh;
  padding: 1vw;
  font-family: "Courier New", Courier, monospace;

  display: grid;
  /* grid-template-areas: "nav" "cont";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr; */

  grid-template-areas: "cont nav" "cont opt";
  grid-template-columns: 70fr 30fr;
  grid-template-rows: 82fr 18fr;
}

.menunav ul {
  font-family: Raleway;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
}
/* .menunav ul li {
  margin-top: 1vh;
} */
.menunav ul li a {
  display: block;
  text-align: center;
  padding: 0.75vw 1.5vw 0.75vw 1.5vw;
  margin: 0.2vw;
  font-size: 1.25vw;
  transition: font-size 0.2s ease;
}
.menunav ul li a:hover {
  cursor: pointer;
}
.active2 {
  font-size: 1.9vw !important;
}

/* menu content */

.menucontent {
  padding: 2vw;
  color: white;
}
.menucontent .activemenu,
.menuinfo .activemenu {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.menucontent div:not(.activemenu),
.menuinfo div:not(.activemenu) {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menucontent > div {
  position: absolute;
}

.menucontent div section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 70vh;
  width: 60vw;
}

.menucontent div section section {
  width: 20vw;
  height: 14vh;
  margin: 0 5vw 0 0;
}

/* menu subsection css */
section h3 {
  font-size: 2vw;
}

.head {
  letter-spacing: 2px;
  font-size: 1.25vw;
}
.info {
  font-size: 1vw;
}
.price {
  font-size: 1vw;
}

.item p {
  margin: 0;
}
.footer {
  font-style: italic;
}

/* menu options css */
.menuinfo {
  text-align: center;
  color: white;
  font-size: 1vw;
  padding: 1vw;
}
.menuinfo p {
  margin: 0;
}
.menuinfo div {
  position: absolute;
  padding-right: 2vw;
  text-align: center;
}
